* {
    margin: 0;
    padding: 0;
}

table {
    border-radius: 10px;
    font-family: arial, sans-serif;
    font-size: 25px;
    border-collapse: collapse;
    width: 100%;
    background-color: #ccc;
}

a{
    text-decoration: none;
}

.nome{
    padding-left: 500px;
}

.preco{
    padding-left: 15px;
}

.nomeH{
    padding-right: 200px;
}

.precoH{
    padding-right: 100px;
}

td,th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
}

#titulo {
    font-family: sans-serif;
    color: #fff;
    border-bottom: 1px solid #ccc;
    padding-top: 20px;
    text-align: center;
    margin-bottom: 25px;
    margin-left: 60px;
    margin-right:60px ;
} 


tr td p{
    font-size: 30px;
}


.banner {
    background-image: url('/img/burger.jpg');
    background-position: 0 -250px;
    background-size: cover;
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.banner h1 {

    color: #FFF;
    text-align: center;
    font-size: 60px;
    background-color: #222;
    padding: 20px 40px;

}

.menu {
    background-color: #222;
    border-bottom: 4px solid #111;
    padding: 15px 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 16px;
    margin-right: 8px;
    margin-left: 8px;
}

.menu li {
    font-size: 20px;
    color: #FCBA03;
    list-style: none;
    margin: 12px;
    transition: .5s;
}

#footer {
    height: 100px;
    margin-top: 175px;
    background-color: #222;
    border-top: 4px solid #111;
    color: #fcba03;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    width: 99%;
    margin-bottom: 8px;
    font-weight:normal;
    margin-left: 9px;
}

.copyright {
    margin-bottom: 0px;

}
