

h1{
    text-align: center;
    padding-top: 100px;
    color: #fcba03;
}
.gif{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.botao{
    position: relative;
margin-top: 10px;
    left: 46%;

}